@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    /* font-smoothing:antialiased; */
    text-rendering:optimizeLegibility;
}
html,body{

    height:100%;
    width: 100%;
    font-family: 'Poppins',sans-serif;
    color: #222;
}
.navbar {
    padding: .8rem;
}
.navbar-nav li{
    padding-right:20px; ;
}

.nav-link{
    font-size: 1.2em;
}


body {
    line-height:30px;
    color:#777;
    background: url("../img/contact-background.jpeg") repeat;
    background-size: cover;
}

.image-resize{


    max-width: 100%;
    max-height: 100vh;
    margin: auto;

}





.container {
    max-width:400px;
    width:100%;
    margin:0 auto;
    position:relative;
}



#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
    background:#F9F9F9;
    padding:25px;
    margin:50px 0;
}

#contact h3 {
    color: #85AC9B;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

#contact h4 {
    margin:5px 0 15px;
    display:block;
    font-size:13px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
    width:100%;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
    -moz-transition:border-color 0.3s ease-in-out;
    transition:border-color 0.3s ease-in-out;
    border:1px solid #AAA;
}

#contact textarea {
    height:100px;
    max-width:100%;
    resize:none;
}

#contact button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#79AA78;
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    font-size:15px;
}

#contact button[type="submit"]:hover {
    background:#4F714F;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }


.error{
    color: red;
}

.success{
    color: #ff9966;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.social {
    margin-bottom: 18px;
    font-size: 4.6em;
}
/*.social a{*/
    /**/
    /*!*padding: 3rem;*!*/
/*}*/
.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color: #00aced;
}
.fa-instagram{
    color: #517fa4;
}
.fa-youtube{
    color: #ff0000;
}
.fa-youtube:hover,
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover{
    color: #d5d5d5;
}



footer{
    background-color: #3f3f3f;
    color:#d5d5d5;
    padding-top: 2rem;
}


/* hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
} */

.connect{
    padding-bottom: 20px;
}
.connect h1{
    color: rgb(186, 193, 203);
    text-shadow: 1px 2px 5px #000000;
}

.connect hr{
    border-top: 3px solid #e2dbdb;
    width:65%;
    margin-top: .3rem;
    margin-bottom: 2rem;
    margin: 0 auto;
    z-index: 1;
}


hr.light{

    border-top: 1px solid #d5d5d5;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    margin-top: .5rem;
    margin-bottom: 1rem;

}

hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

h5{
    padding-bottom: 1rem;
}
p{
    margin: 10px auto;
}

.to-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #000;
    color: #fff;
    padding: 9px 14px;
    border-radius: 50%;
}

.to-top:hover {
    background: #d7d7d7;
    color: #000;
}


@media (max-width: 768px) {
    .connect h1{
        font-size: 3rem;
    }
    .social a{
        font-size: .8em;
    }

    .image-resize{
        max-width: 80%;
        max-height: 100vh;
        margin-left: 55px;
    }

}

@media (max-width: 576px) {
    .connect h1{
        font-size: 2rem;
    }
    .social a{
        font-size: .7em;
    }
    .image-resize{
        max-width: 60%;
        max-height: 100vh;
        margin-left: 80px;
    }
}


#contact input:focus, #contact textarea:focus {
    outline:0;
    border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}
