@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
    height:100%;
    width: 100%;
    font-family: 'Poppins',sans-serif;
    color: #222;
}
.navbar {
    padding: .8rem;
}
.navbar-nav li{
    padding-right:20px; ;
}

.nav-link{
    font-size: 1.2em;
}



.large-header {
    position: relative;
    width: 100%;
    background: #111;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.demo .large-header {
    background-image: url("../img/index_background.jpg");
}

.demo .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
}


.btn-green{
    color: #70d086;
    border-color: #70d086;
}
.btn-green:hover{
    color: #fff;
}


.carousel-inner img{
    width: 100%;
    height: 100%;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-28%);
}

.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px rgb(3, 93, 176);
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 502;
    text-shadow: 1px 1px 35px rgb(255, 255, 255);
    padding-bottom: 1rem;
}

.padding{
    padding-bottom: 2rem;
}

.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr{
    border-top: 2px solid #b4b4b4;
    width:95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.info hr{
    width:30%;
    border-top: 1px dotted #5c5a5a;
    margin-bottom: .3rem;
    margin-top: 1rem;
}
.info h2{
    text-align: center;
    text-shadow: 1px 2px 5px #b4b4b4;
}
.fa-java{
    color: #e54d26;
}
.fa-leaf{
    color: rgb(142, 201, 83);
}
.fa-sitemap{
	color: rgb(142, 201, 83);
}
.fa-shield-alt{
	color: #375fe7; 
}
.fa-university{
    color: rgba(0, 0, 0, 0.47);
}
.fa-java, .fa-leaf, .fa-sitemap, .fa-university, .fa-shield-alt{
    font-size: 64px;
    margin: 16px;
}

footer{
    background-color: #3f3f3f;
    color:#d5d5d5;
    padding-top: 2rem;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.to-top{
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #000;
    color: #fff;
    padding: 9px 14px;
    border-radius: 50%;
}
.to-top:hover{
    background: #d7d7d7;
    color: #000;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
.bottom{
    margin-bottom: -30px;
}



/*---Media Queries --*/
@media (max-width: 992px) {

}
@media screen and (max-width: 768px) {
    .large-header{
        height: 525px !important;
    }
    .carousel-caption{
        top: 45%;
        transform: translateY(-48%);
    }

    .carousel-caption h1{
        font-size: 350%;
    }
    .carousel-caption h3{
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn{
        font-size: 95%;
        padding: 8px 14px;
    }
    .welcome h1{
        font-size: 50px;
    }
    .welcome p{
        font-size: 17px;
    }
    .info h2{
        font-size: 43px;
    }
}
@media screen and (max-width: 576px) {
    .large-header{
        height: 325px !important;
    }
    .carousel-caption{
        top: 40%;
        transform: translateY(-48%);
    }
    .carousel-caption h1{
        font-size: 250%;
    }
    .carousel-caption h3{
        font-size: 110%;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn{
        font-size: 90%;
        padding: 4px 8px;
    }
    .carousel-indicators{
        display:none;
    }
    .welcome h1{
        font-size: 45px;
    }
    .welcome p{
        font-size: 16px;
    }
    .info h2{
        font-size: 38px;
    }
}


/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
